extends layout
block content
	div(id="content")
		div(class="main" ng-app="educare" ng-controller="LoginController" style="padding-bottom:100px;")
			div(class="row box-login")
				div(class="card-panel col s8 offset-s2 m4 offset-m4 l4 offset-l4")
					div(class="center")
						br
						img(src="/images/logo/logo-small.svg" alt="Educare" class="responsive-img")
					form(ng-submit="login()")
						div(class="row")
							div(class="input-field col s10 offset-s1")
								label(for="nombre_usu") Usuario
								input(id="nombre_usu" type="text" class="validate" required ng-model="textUser" autocomplete="off")
							div(class="input-field col s10 offset-s1")
								label(for="password_usu") Contraseña
								input(id="password_usu" type="password" class="validate" required ng-model="textPassword")
						div(class="row footer")           
							button(class="btn waves-effect waves-light col s10 offset-s1" id="btn-user-login") Iniciar sesión
								i(class="mdi-content-send right")
		footer(class="center")
			div
				img(src="/images/logo/logo-footer.svg")
			div
				a(class="white-text text-lighten-4" href="#") &copy; 2015 · Todos los Derechos Reservados.

	script(src="/javascripts/angular/controllers/LoginController.js")
	link(rel="stylesheet" type="text/css" href="/stylesheets/login.css")
